body, html {
  margin: 0;
  padding: 0;
  
  
 }

.back-image1 {
  background-image: url(./total/images/rectangle-3.png);
  width: 100%;
  height: 1100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.back-image2 {
  background-image: url(./total/images/rectangle-4.png);
  width: 100%;
  height: 1100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.navbar {
  position: relative;
  display: flex;
  width: 1295px;
  height: 73px;
  align-items: flex-start;
  gap: 508px;
  flex-shrink: 0;
 
}
.navbar-bar{
  display: flex;
align-items: center;
gap: 50px;
}
.navbar-logo{
  display: flex;
  width: 197px;
  height: 38.494px;
  padding-left: 50px;
  justify-content: flex-end;
  align-items: center;
}
.navbar-abcon{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
color: var(--black-black-600, #616161);

/* paragraph/p2 reg */
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 135% */
text-decoration: none;
}
.navbar-logo-style{
  color: #32794F;
font-family: Amita;
font-size: 24.892px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.996px;
text-decoration: none;
}
.conteiner{
display: flex;
position: relative;
flex-direction: column;
align-items: flex-start;
gap: 55px;
margin-left: 60px;
top: 60px;
}
.text-conteiner{
  width: 370px;
 
}
.login-content{
  color: var(--black-black, #000);
font-family: Open Sans;
font-size: 40px;
font-style: normal;
font-weight: 300;
line-height: 55px;
}
.login-bold{
  color: var(--primary-red, #DC2F39);
font-family: Open Sans;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: 55px; /* 78.571% */
}
.login-button{
  display: flex;
padding: 10px 80px;
align-items: flex-start;
gap: 10px;
border-radius: 10px;
border: none;
background: linear-gradient(180deg, #C08FDD 99.99%, rgba(231, 190, 235, 0.50) 100%);
box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 0.25);border-radius: 10px;
cursor: pointer;transition:.2s ease all;
color: #FFF;
text-align: center;

/* paragraph/p1 reg */
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 137.5% */
}
.about{
  padding: 0;
  margin: 0;
  left: 0;
}
.diet-food {
  background-image: url(./total/images/about-bg2.jpg);
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  background-size: 100% 100%;
  flex-shrink: 0;
  top: 1100px;
  z-index: -1;
}


.about-conteiner{
  position: relative;
  width: 1403px;
height: 244px;
flex-shrink: 0;
top: 30px;
}
.about-text{
/* mix-blend-mode: screen; */
color: #BF58A2;
text-align: center;
font-family: Oregano;
font-size: 110px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.about-div {
  background-image: url(./total/images/aboutrectangle.png);
  width: 500px;
  height: 605.5px;
  flex-shrink: 0;
  fill: rgba(216, 240, 252, 0.86);
  /* fill: rgba(192, 143, 221, 0.86); */
  position: relative;
  top: 15%;
  left: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}
.about-div-title{
width: 500px;
height: 104px;
flex-shrink: 0;
color: #000;
text-align: center;
font-family: Oldenburg;
font-size: 37px;
font-style: normal;
font-weight: 350;
line-height: normal;
padding-top: 7%;
}
.about-photo{
width :260px ;
height: 365px;
position: relative;
left: 31.5%;
bottom: 180%;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.who-div{
  position: relative;
  top: 1000px;
}

.who-div-image1 {
  position: absolute;
  top: 1500px;
  background-image: url(./total/images/rectangle-24.png);
  width: 100%;
  height: 2155px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Arka plan resminin boyutunu tamamen kaplamasını sağlar */
  background-position: center;
  fill: rgba(229, 190, 235, 0.30);
  z-index: -1; /* İkinci resmi üstte göstermek için z-index değerini değiştirin */
}

.who-div-image2 {
  position: absolute;
  top: 1501px;
  background-image: url(./total/images/rectangle-25.png);
  width: 100%;
  height: 2155px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Arka plan resminin boyutunu tamamen kaplamasını sağlar */
  background-position: center;
  fill: rgba(229, 190, 235, 0.30);
  z-index: -2; /* İlk resmi altta göstermek için z-index değerini değiştirin */
}

.who-div-image2 img{
  position: relative;
  top: 1500px;
  /* width: 602px; */
height: 602px;
flex-shrink: 0;
}

.who-div-regt{
  width: 540px;
height: 188px;
flex-shrink: 0;
border-radius: 20px;
background: #C08FDD;
}
.who-div-text{
  width: 900px;
  display: flex;
  position: relative;
  top: 12%;
}
.who-text-w{
color: #FFF;
font-family: Open Sans;
margin-left: 34.8%;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: 55px; /* 78.571% */
letter-spacing: 1.4px;
}
.who-text-p{
  color: #C08FDD;
font-family: Open Sans;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: 55px;
letter-spacing: 1.4px;
}
.who-top{
  position: relative;
  top: 15.3%;
  left: 12.7%;
}
.who-circles{
  position: relative;
  top: 17%;
  left: 58%;
  width: 543px;
height: 471px;
flex-shrink: 0;
}
.who-hr{
position: relative;
top: 22%;
background-image: url(./total/images/rectangle-28.png);
width: 1340px;
height: 4px;
flex-shrink: 0;
background: radial-gradient(50% 50% at 50% 50%, #32794F 0%, rgba(50, 121, 79, 0.00) 100%);

}

/* .who-div-image2{
  width: 602px;
height: 602px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
top: 2832px;
left: 10px;
rotate: -180;
position: reltive;
} */

#contact{
  position: relative;
  top: 5200px;
}

.contact-title-div{
background-image: url(./total/images/box-3contact.png);
background-size: 100% 100%;
position: relative;
right: 7px;
display: flex;
width: 100%;
height: 230.435px;
transform: rotate(2.606deg);
padding: 40px 100px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
background: rgba(229, 190, 235, 0.75);
}
.contact-title{
width: 1396.302px;
height: 120.357px;
transform: rotate(0.162deg);
flex-shrink: 0;
color: #C08FDD;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Ravi Prakash;
font-size: 90px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.contact-form{
position: relative;
top: 100px;
left: 40%;
display: flex;
width: 1082px;
height: 972px;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
}
.contact-form-label{
display: flex;
width: 653px;
flex-direction: column;
align-items: flex-start;
padding-bottom: 15px;
color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.contact-input{
width: 550px;
height: 60.17px;
flex-shrink: 0;
background: rgba(229, 190, 235, 0.75);
border: none;
border-radius: 0;
}
.contact-textarea{
  width: 550px;
height: 179px;
flex-shrink: 0;
background: rgba(229, 190, 235, 0.75);
resize: none;
border: none;
}
.contact-gap{
  margin-bottom: 60px;
}
.contact-icon-div{
  position: relative;
  top: 300px;
  left: 23.5%;
  display: flex;
width: 773px;
justify-content: space-between;
align-items: center;
}

.footer{
  position: relative;
  top: 5500px;
  text-align: center;
  /* width: 1440px; */
  width: 100%;
height: 730px;
flex-shrink: 0;
background: rgba(229, 190, 235, 0.75);
display: flex;
flex-direction: column;
align-items: center;
margin-top: 5%;

}

.footer .footer-title{
  color: #32794F;
font-family: Amita;
font-size: 20.272px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.371px;
width: 350px;
height: 67px;
top: -10.12px;
left: 15.34px;
/* line-height: 55.56px; */
padding-bottom: 10%;
padding-top: 5%;
display: flex;
justify-content: flex-end;
align-items: center;
}

.footer .footer-link{
  display: flex;
width: 1185px;
height: 27px;
padding-left: 0px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
padding-bottom: 10%;
font-size: 20px;
font-family: Open Sans;
}

.footer .footer-bar{
width: 1240px;
height: 4px;
flex-shrink: 0;
border: 1px solid #000;
background: radial-gradient(50% 50% at 50% 50%, #32794F 0%, rgba(50, 121, 79, 0.00) 100%);
width: 1240px;
height: 4px;
top: 283px;
left: 100px;
border: 1px;

}

.footer .footer-icons{
  display: flex;
width: 518.095px;
justify-content: center;
align-items: center;
gap: 40.476px;
height: Hug (52.62px);
top: 312px;
left: 460.45px;
padding-top: 5%;
padding-bottom: 3%; 
}

.footer .footer-end{
  width: 180px;
height: 24px;
top: 437px;
left: 630px;
color: var(--black-black-700, #424242);
text-align: center;

/* Headline/H1-Regular */
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */

}

.formtype1 {
  display: flex;
width: 632px;
flex-direction: column;
align-items: flex-start;
gap: 5px;
}

.formtype2{
  display: flex;
  width: 601px;
  height: 25px;
  align-items: center;
  gap: 40px;
}

label{
  color: #000;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 138.889% */
}

input{
  display: flex;
width: 600px;
height: 40px;
padding: 10px 10px 15px 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
border: 1px solid var(--black-black-600, #616161);
background: var(--black-white, #FFF);
box-shadow: 0px 1px 4px 0px #E0E0E0;
}

.formtype1 {
  display: flex;
width: 632px;
flex-direction: column;
align-items: flex-start;
gap: 5px;
}

.formtype2{
  display: flex;
  width: 601px;
  height: 25px;
  align-items: center;
  gap: 40px;
}

label{
  color: #000;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 138.889% */
}

input{
  display: flex;
width: 600px;
height: 40px;
padding: 10px 10px 15px 10px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 10px;
border: 1px solid var(--black-black-600, #616161);
background: var(--black-white, #FFF);
box-shadow: 0px 1px 4px 0px #E0E0E0;
}


